In [1]:
import pandas as pd
from pycaret.classification import *

In [2]:
#1. Cargamos la data
df = pd.read_csv('ds_credito_vehicular.csv')

In [3]:
df.head()

,edad,ingresos_mensuales,estado_civil,historia_credito,nro_creditos_previos,cuota_vs_ingreso,vehiculo_propio,default
0,59,7668,Divorciado,Buena,2,0.64,0,1
1,49,6279,Casado,Buena,2,0.31,1,1
2,35,2722,Soltero,Mala,4,0.41,1,0
3,63,4314,Divorciado,Regular,4,0.57,0,0
4,28,4157,Soltero,Buena,1,0.34,0,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   edad                  150 non-null    int64
 1   ingresos_mensuales    150 non-null    int64
 2   estado_civil          150 non-null    object
 3   historia_credito      150 non-null    object
 4   nro_creditos_previos  150 non-null    int64
 5   cuota_vs_ingreso      150 non-null    float64
 6   vehiculo_propio       150 non-null    int64
 7   default               150 non-null    int64
dtypes: float64(1), int64(5), object(2)
memory usage: 9.5+ KB

In [13]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
edad,150.0,43.080000,13.076194,21.00,32.00,44.00,55.0000,64.00
ingresos_mensuales,150.0,4674.993333,1888.224149,1146.00,2989.00,4545.50,6484.5000,7895.00
nro_creditos_previos,150.0,2.040000,1.496663,0.00,1.00,2.00,3.0000,4.00
cuota_vs_ingreso,150.0,0.368933,0.167317,0.11,0.22,0.35,0.4875,0.69
vehiculo_propio,150.0,0.613333,0.488618,0.00,0.00,1.00,1.0000,1.00
default,150.0,0.166667,0.373927,0.00,0.00,0.00,0.0000,1.00

In [19]:
clf = setup(
    data = df,
    target = 'default',
    session_id = 123,
    categorical_features = ['estado_civil','historia_credito','vehiculo_propio'],
    normalize=True,
    fix_imbalance=True,
    fix_imbalance_method = 'SMOTE'
)

In [20]:
best_model = compare_models()

g:\Mi unidad\Cursos\DMC\Machine Learning engineering\MLE_CF_AU\pycaret_env\lib\site-packages\pycaret\internal\pycaret_experiment\supervised_experiment.py:323: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  master_display_.apply(

In [21]:
lr = create_model("lr")

In [22]:
tunned_lr = tune_model(lr)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [23]:
#Evaluarlo visualmente
evaluate_model(tunned_lr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [24]:
preds = predict_model(tunned_lr)
print(preds.head())

     edad  ingresos_mensuales estado_civil historia_credito  \
57     60                4457       Casado            Buena
98     55                2147       Casado            Buena
54     34                5659      Soltero          Regular
92     64                2930       Casado            Buena
137    33                4643       Casado            Buena

     nro_creditos_previos  cuota_vs_ingreso  vehiculo_propio  default  \
57                      3              0.32                0        0
98                      2              0.25                1        0
54                      3              0.32                0        0
92                      2              0.31                1        0
137                     0              0.69                0        1

     prediction_label  prediction_score
57                  0            0.6386
98                  0            0.7293
54                  0            0.5744
92                  0            0.6285
137                 0            0.5769

In [25]:
# Guardar el modelo
save_model(tunned_lr, "modelo_default_final")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['edad', 'ingresos_mensuales',
                                              'nro_creditos_previos',
                                              'cuota_vs_ingreso'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_imputer',
                  TransformerWr...
                  TransformerWrapper(exclude=None, include=None,
                                     transformer=StandardScaler(copy=True,
                                                                with_mean=True,
                                                                with_std=True))),
                 ('trained_model',
                  LogisticRegression(C=0.049, class_weight='balanced',
                                     dual=False, fit_intercept=True,
                                     intercept_scaling=1, l1_ratio=None,
                                     max_iter=1000, multi_class='auto',
                                     n_jobs=None, penalty='l2', random_state=123,
                                     solver='lbfgs', tol=0.0001, verbose=0,
                                     warm_start=False))],
          verbose=False),
 'modelo_default_final.pkl')